@font-face {
    font-family: "Libre";
	src: url("Assets/Font/libre.woff") format("woff");
}

@font-face {
	font-family: "Lora";
	src: url("Assets/Font/lora.woff") format("woff");
}

* {
  box-sizing: border-box;
}

html {
  min-height: 100vh;
  cursor: url(Assets/Cursors/1.cur), auto;
  text-align: justify;
  font-family: arial;
}

body {
 margin: 1;
  background: #E2E2E2;
}
* {
  box-sizing: border-box;
}

.row {
  display: flex;
  background: white;
}

/* Create two equal columns that sits next to each other */
.column {
  flex: 50%;
  padding: 10px;
  gap: 40px; /* Should be removed. Only for demonstration */
}
.page-title {
  color: #141414;
  font-family: Libre, serif;
  font-weight: normal;
  text-align: center;
  font-size: 4em;
}

.title {
  color: #141414;
  font-family: Lora, serif;
  font-weight: normal;
  text-align: center;
  font-size: 2em;
  padding: 5px;
}
.title1 {
  color: white;
  background: black;
  font-family: Lora, serif;
  font-weight: normal;
  text-align: center;
  font-size: 2em;
  padding: 5px;
}

.desc1 {
  width: 640px;
  padding: 10px;
  background-color: white;
  text-align: justify;
  margin: auto;
  color: black;
}

.desc2 {
  width: 640px;
  padding: 10px;
  background-color: white;
  margin: auto;
  text-align: justify;
}

#button1,
#button2{

  padding: 14px 40px;
  border: 0.5px solid black;
  border-radius: 12px;
  text-align: center;
  display: inline-block;
  cursor:pointer;
}

#button1 , 
#button2 {
  text-decoration: none;
  color: white;
}

#button1{
  background-color: purple;
}

#button1:hover{ 
  background-color: violet;
}

#button2 {
  background-color: orange;
}

#button2:hover {
  background-color: yellow;
}




